@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #DCE2E5;
}

.Nav {
  background-color: #586A74;
  overflow: hidden;
  display: block;
  position: fixed;
  width: 100%;
  top: 0;
}

.Nav a {
  float: right;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.Nav a:hover {
  background-color: #121517;
  color: #F3F5F6;
}

.Nav h1 {
  text-align: left;
  padding: 0px 15px;
}

p, h1, h2 {
  padding: 0px 15px;
}

.Pres {
  position: relative;
  z-index: -1;
  top: 130px;
}

.Pres_T {
  position: absolute;
  top: 50%;
  left: 40%;
}

.Pres_IMG {
  height: 100px;
  width: 100%;
}

#Presentation, #API, #Fonctionnalités {
  margin-top: -150px;
  padding-top: 150px;
}